* {
    box-sizing: border-box;   
}

:root {
    
}

html {
    font-family: 'Open Sans', sans-serif;
    --primary-color: 
}

.inner-container {
    max-width: 1024px;
    margin: 0 auto; 
}

header {
    background-color: #0284C7;
}

.header-flex {
    padding: 15px 0;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    gap: 40px;

    display: flex;
    flex-direction: row;
}

.nav-items {
    width: calc(100%/5);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.nav-items:hover {
    color: #e0f2fe;
}

.title-text {
    font-size: 26px;
    font-weight: 700;  
}

.hero {
    background-image: url(picture/hero.png);
    background-size: cover;
    background-position: center top;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    max-width: calc(100%/2);
    padding: 150px 0 50px;
}

.hero-text {
    max-width: calc(100%/2);
    font-size: 16px;
    font-weight: 400;
    color: #0C4A6E;
    line-height: 18px;
}

span {
    color: #0284C7;
}

.submit {
    height: 51.69px;
    width: 242.93px;
    font-size: 18px;
    font-weight: 700;
    color: #F0F9FF;
    background-color: #0284C7;
    border: none;
    border-radius: 8px;
    margin: 50px 0;
    padding: 16px 32px;
    box-shadow: 2px 2px 5px #737373;

    transition: all 500ms linear;
}

.submit:hover {
    background-color:#0369a1;
    transform: scale(1.02);    
}

.general-titles {
    font-size: 40px;
    font-weight: 700;
    text-align: center;  
}

.general-titles_light-blue {
    color: #0369A1;
}

.general-titles_dark-blue {
    color: #075985; 
}

.general-titles_outside {
    margin: 50px 0;
}
.general-titles_inside {
    padding: 50px 0;
}

.our-servis-scroll-container {
    background-color: #0284C7;
}

.icon-arrow {
    height: 80px;
    width: 50px;
    font-size: 40px;
}

.our-servise-flex {
    padding: 60px 0 30px;
    gap: 10px;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.our-servis-items {
    color: white;
    gap: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.servis-dental {
    width: calc(100%/3 - 60px);
    height: 150px;
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #404040;
    background-image: linear-gradient(to right, #0ea4e97d 10%, transparent 60%), url(picture/service-1.png);
}

.servis-prosthetics {
    width: calc(100%/3 - 60px);
    height: 150px;
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #404040;
    background-image: linear-gradient(to right, #0ea4e97d 10%, transparent 60%), url(picture/service-2.png);
}

.servis-cleaning {
    width: calc(100%/3 - 60px);
    height: 150px;
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #404040;
    background-image: linear-gradient(to right, #0ea4e97d 10%, transparent 60%), url(picture/service-3.png);   
}

.our-servis-items-text-flex {
    display: flex;
    flex-direction: row;
    padding: 40px 5px 0 10px;
}

.number {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 500;
    padding: 15px;
}

.our-servis-items-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 75%;
}

.extra-icon-arrow {
    width: 40px;
    height: 40px;
}

.about-clinic {
    background-image: url(picture/background-1.png);
    background-size: cover;
    background-position: center top;
    background-color: #ffffff29;
    background-blend-mode: lighten;
}

.about-clinic-text {
    font-size: 20px;
    color: #171717;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 0;
    text-align: justify;
}

.about-clinic-botton-flex {
    display: flex;
    justify-content: flex-end;
}

.your-reviews-containers {
    display: flex;
    flex-direction: column;

    padding-bottom: 100px; 
}

.your-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
}

.your-reviews-items {
    width: calc(100%/2);
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 1px 1px 2px #d4d4d4;

    display: flex;
    flex-direction: row;
}

.photo-client {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.your-reviews-title {
    font-size: 20px;
    font-weight: 700;
    color: #0284C7;
    padding: 20px 0 10px;
}

.your-reviews-text {
    font-size: 13px;
    font-weight: 400;
    color: #737373;
    margin: 0 20px 20px 0;
    line-height: 15px;
}

.our-branches {
    background-image: url(picture/map-background.png);
    background-color: #e0f2febd;;
    background-blend-mode: overlay
}

.our-branches-contaiters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
    padding-bottom: 30px;
}

.our-branches-contaiter {
    width: calc(100%/3);
    border: 1px solid #0284C7;
    border-radius: 10px;
    background-color: #ffffff;
}

.our-branches-contaiter-item {
    display: flex;
    flex-direction: row;

    margin: 30px 10px;
}

.icon-location {
    margin: 5px;
    width: 15px;
    height: 20px;
}

.circle-info-icon {
    width: 17px;
    height: 17px;
    margin: 3px 4px;
}

.our-branches-contaiter-item-details {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #075985;
    padding-left: 5px;
}

.our-branches-contaiter-item-details_padding {
    padding-left: 30px;
}

footer {
    background-color: #f0f9ff;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-text {
    max-width: calc(100%/2);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #075985;
    padding: 40px 0px;
}

.info-social-text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #075985;
    padding: 40px 5px;
}

.info-social-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: calc(100%/2);
}
    
.icon-facebook {
    width: 20px;
    height: 20px;
    margin: auto 0;

    transition: all 500ms linear;
}

.icon-facebook:hover {
    transform: scale(1.1);
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #075985;
}

.contacts-items-flex {
    display: flex;
    flex-direction: row;
}

.mail-text {
    font-weight: 300;
}

.extra-weight {
    font-weight: 700;
}

.location-icon-small {
    height: 15px;
    margin: auto 5px auto 0;
}

.phone-icon {
    width: 15px;
    margin: auto 5px auto 0;
}

.email-icon {
    width: 15px;
    height: 16px;
    margin: auto 5px auto 0;
}

.legal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #075985;
    padding: 40px 0;
}

.legal-container {
    border-right: 2px solid #075985;
    padding-right: 5px;
    margin-right: 5px;
}


@media (max-width: 1024px) {

    .inner-container {
        padding: 0 40px;
    } 

    .nav-items {
        font-size: 18px;
    }
}

@media (max-width: 800px) {

    .inner-container {
        padding: 0 20px;
    } 

    .our-servis-items-text {
        font-size: 9px;
        line-height: 15px;
        width: 80%;
    }
    
    .extra-icon-arrow {
        width: 20px;
        height: 20px;
        max-width: 20%;
    }
    
    .our-servis-items-text-flex {
        justify-content: space-between;
    }

    .our-servise-flex {
        padding: 0;
    }

    .info-social-text {
        font-size: 12px;
        line-height: 15px;
    }

    .info-text {
        font-size: 12px;
        line-height: 15px;
    }

    .contacts-container {
        font-size: 12px;
        line-height: 15px;
    }

    .legal {
        font-size: 12px;
    }

    .legal-container {
        border-right: 1.5px solid #075985;
    }

    .our-branches-contaiter-item-details {
        font-size: 12px;
    }

}


@media (max-width: 600px) {

    h1 {
        font-size: 30px;
        max-width: 90%;
    }

    .inner-container {
        padding: 0 10px;
    }

    .hero-text {
        max-width: 100%;
        font-size: 13px;
        line-height: 15px;
    }
    
    nav {
        flex-wrap: nowrap;
    }

    .nav-items {
        width: 100%;
        font-size: 13px;
    }

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }   
    
    .our-branches-contaiter {
        width: 60%;
    }

    .our-branches-contaiters {
        flex-direction: column;
    }

    .your-reviews-container {
        flex-direction: column;
        gap: 0;
    }

    .your-reviews-container {
        align-items: center;
    }

    .your-reviews-items {
        width: 80%;
    }

    .our-servis-items {
        flex-direction: column;
    }

    .servis-dental {
        width: 100%;
    }

    .servis-prosthetics {
        width: 100%;
    }

    .servis-cleaning {
        width: 100%;
    }

}

@media (max-width: 414px) {

    nav {
        gap: 10px;
    }

    .header-flex {
        align-items: stretch;
    }

    .your-reviews-items {
        width: 100%;
    }

    .general-titles {
        font-size: 30px;
    }

    .contacts {
        flex-direction: column;
        gap: 10px;
    }

    .contacts-container {
        gap: 5px;
    }

}